.cluster_label {
    color: white;
    padding: 8px;
    font-family: Arial;
    margin: 10px;
    height: min-content;
    text-align: center;
    border-radius: 5px;
    font-size: medium;
    display: inline-block;
    object-fit: cover
    
  }
  .i1 {background-color: #0047AB; } 
  .i2 {background-color: #7273fa;} 
  .i3 {background-color: #5D3FD3;} 
  
  
  .f1 {background-color: #db1e1a; } 
  .f2 {background-color: #ff4500;} 
  .f3 {background-color: #d58300;} 
  
  .e1 {background-color: #00d42b; } 
  .e2 {background-color: #007600;} 
  .e3 {background-color: #00A36C;} 